<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
  <title>BlockBazaar</title>
</head>

<body>
  {% include 'transactions.html' %}

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center" href="/">
        <img src="{{ url_for('static', filename='images/blockbazaar_icon.png') }}" alt="BlockBazaar Logo" width="30"
          height="30" class="me-2">
        BlockBazaar
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/buy">Kaufen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sell">Verkaufen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profil</a>
          </li>
          <li class="nav-item">
            <div class="d-flex align-items-center">
              <button class="btn btn-primary" id="connectButton" hidden>
                <span id="walletIcon">🔒</span> Connect Wallet
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/ethers/5.7.2/ethers.umd.min.js"></script>
  <script src="{{ url_for('static', filename='js/wallet.js') }}"></script>
</body>

</html>